## Deliverable 3: Optimization of  the Model

### Preprocessing the Data

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

In [3]:
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN", "NAME"], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [7]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df.APPLICATION_TYPE.value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Determine which values to replace if counts are less than 500
replace_application = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df.CLASSIFICATION.value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [10]:
# Determine which values to replace if counts are less than 1000
replace_class = list(classification_counts[classification_counts < 1000].index)


# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Generate our categorical variable lists
application_cat = ["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "INCOME_AMT", 
                  "SPECIAL_CONSIDERATIONS"]

In [12]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

/Users/olgapodolska/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df, left_index=True, right_index=True).drop(columns=application_cat, axis=1)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [14]:
# Split our preprocessed data into our features and target arrays
y = application_df.IS_SUCCESSFUL
X = application_df.drop("IS_SUCCESSFUL", axis=1)

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, stratify=y)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Compile, Train and Evaluate the Model

In [16]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])

# Number_input_features
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=110, activation="relu", input_dim = number_input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=40, activation="sigmoid"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=20, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="linear"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 110)               4840
_________________________________________________________________
dense_1 (Dense)              (None, 80)                8880
_________________________________________________________________
dense_2 (Dense)              (None, 40)                3240
_________________________________________________________________
dense_3 (Dense)              (None, 20)                820
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 21
=================================================================
Total params: 17,801
Trainable params: 17,801
Non-trainable params: 0
_________________________________________________________________

2022-09-18 19:19:34.127911: I tensorflow/core/platform/cpu_feature_guard.cc:145] This TensorFlow binary is optimized with Intel(R) MKL-DNN to use the following CPU instructions in performance critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in non-MKL-DNN operations, rebuild TensorFlow with the appropriate compiler flags.
2022-09-18 19:19:34.128310: I tensorflow/core/common_runtime/process_util.cc:115] Creating new thread pool with default inter op setting: 4. Tune using inter_op_parallelism_threads for best performance.

In [17]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
import numpy as np
x=np.array(X_train_scaled)
y=np.array(y_train)

# Train the model
fit_model = nn.fit(x=np.array(X_train_scaled), y=np.array(y_train), epochs=100, 
                    validation_data=(np.array(X_test), np.array(y_test)), 
                    validation_freq=5)

Train on 25724 samples, validate on 8575 samples
Epoch 1/100
25724/25724 [==============================] - 7s 278us/sample - loss: 0.5767 - accuracy: 0.7170
Epoch 2/100
25724/25724 [==============================] - 7s 258us/sample - loss: 0.5610 - accuracy: 0.7292
Epoch 3/100
25724/25724 [==============================] - 8s 303us/sample - loss: 0.5584 - accuracy: 0.7310
Epoch 4/100
25724/25724 [==============================] - 7s 284us/sample - loss: 0.5565 - accuracy: 0.7288
Epoch 5/100
25724/25724 [==============================] - 7s 291us/sample - loss: 0.5713 - accuracy: 0.7231 - val_loss: 0.6935 - val_accuracy: 0.4676
Epoch 6/100
25724/25724 [==============================] - 6s 232us/sample - loss: 0.5528 - accuracy: 0.7310
Epoch 7/100
25724/25724 [==============================] - 6s 232us/sample - loss: 0.5490 - accuracy: 0.7299
Epoch 8/100
25724/25724 [==============================] - 6s 251us/sample - loss: 0.5551 - accuracy: 0.7284
Epoch 9/100
25724/25724 [==============================] - 7s 273us/sample - loss: 0.5472 - accuracy: 0.7331
Epoch 10/100
25724/25724 [==============================] - 9s 339us/sample - loss: 0.5487 - accuracy: 0.7331 - val_loss: 0.6911 - val_accuracy: 0.5324
Epoch 11/100
25724/25724 [==============================] - 7s 285us/sample - loss: 0.5480 - accuracy: 0.7331
Epoch 12/100
25724/25724 [==============================] - 6s 236us/sample - loss: 0.5464 - accuracy: 0.7335
Epoch 13/100
25724/25724 [==============================] - 6s 249us/sample - loss: 0.5513 - accuracy: 0.7329
Epoch 14/100
25724/25724 [==============================] - 7s 255us/sample - loss: 0.5462 - accuracy: 0.7350
Epoch 15/100
25724/25724 [==============================] - 8s 298us/sample - loss: 0.5480 - accuracy: 0.7345 - val_loss: 0.7089 - val_accuracy: 0.4676
Epoch 16/100
25724/25724 [==============================] - 8s 295us/sample - loss: 0.5476 - accuracy: 0.7357
Epoch 17/100
25724/25724 [==============================] - 6s 231us/sample - loss: 0.5520 - accuracy: 0.7353
Epoch 18/100
25724/25724 [==============================] - 8s 310us/sample - loss: 0.5483 - accuracy: 0.7368
Epoch 19/100
25724/25724 [==============================] - 8s 328us/sample - loss: 0.5496 - accuracy: 0.7358
Epoch 20/100
25724/25724 [==============================] - 9s 331us/sample - loss: 0.5504 - accuracy: 0.7341 - val_loss: 0.7003 - val_accuracy: 0.5324
Epoch 21/100
25724/25724 [==============================] - 6s 245us/sample - loss: 0.5464 - accuracy: 0.7371
Epoch 22/100
25724/25724 [==============================] - 7s 261us/sample - loss: 0.5467 - accuracy: 0.7351
Epoch 23/100
25724/25724 [==============================] - 6s 221us/sample - loss: 0.5430 - accuracy: 0.7360
Epoch 24/100
25724/25724 [==============================] - 6s 226us/sample - loss: 0.5421 - accuracy: 0.7355
Epoch 25/100
25724/25724 [==============================] - 8s 315us/sample - loss: 0.5419 - accuracy: 0.7361 - val_loss: 0.6978 - val_accuracy: 0.5324
Epoch 26/100
25724/25724 [==============================] - 6s 246us/sample - loss: 0.5420 - accuracy: 0.7358
Epoch 27/100
25724/25724 [==============================] - 7s 262us/sample - loss: 0.5422 - accuracy: 0.7364
Epoch 28/100
25724/25724 [==============================] - 7s 256us/sample - loss: 0.5419 - accuracy: 0.7357
Epoch 29/100
25724/25724 [==============================] - 7s 269us/sample - loss: 0.5411 - accuracy: 0.7367
Epoch 30/100
25724/25724 [==============================] - 9s 354us/sample - loss: 0.5409 - accuracy: 0.7366 - val_loss: 0.8226 - val_accuracy: 0.4676
Epoch 31/100
25724/25724 [==============================] - 7s 287us/sample - loss: 0.5455 - accuracy: 0.7362
Epoch 32/100
25724/25724 [==============================] - 10s 371us/sample - loss: 0.5478 - accuracy: 0.7373
Epoch 33/100
25724/25724 [==============================] - 7s 287us/sample - loss: 0.5544 - accuracy: 0.7362
Epoch 34/100
25724/25724 [==============================] - 7s 270us/sample - loss: 0.5495 - accuracy: 0.7379
Epoch 35/100
25724/25724 [==============================] - 9s 355us/sample - loss: 0.5616 - accuracy: 0.7318 - val_loss: 0.8263 - val_accuracy: 0.4676
Epoch 36/100
25724/25724 [==============================] - 11s 442us/sample - loss: 0.5392 - accuracy: 0.7388
Epoch 37/100
25724/25724 [==============================] - 10s 370us/sample - loss: 0.5379 - accuracy: 0.7379
Epoch 38/100
25724/25724 [==============================] - 9s 361us/sample - loss: 0.5379 - accuracy: 0.7383
Epoch 39/100
25724/25724 [==============================] - 8s 294us/sample - loss: 0.5383 - accuracy: 0.7376
Epoch 40/100
25724/25724 [==============================] - 9s 340us/sample - loss: 0.5451 - accuracy: 0.7378 - val_loss: 0.6917 - val_accuracy: 0.5324
Epoch 41/100
25724/25724 [==============================] - 7s 286us/sample - loss: 0.5384 - accuracy: 0.7367
Epoch 42/100
25724/25724 [==============================] - 6s 249us/sample - loss: 0.5383 - accuracy: 0.7379
Epoch 43/100
25724/25724 [==============================] - 11s 430us/sample - loss: 0.5424 - accuracy: 0.7373
Epoch 44/100
25724/25724 [==============================] - 9s 353us/sample - loss: 0.5373 - accuracy: 0.7375
Epoch 45/100
25724/25724 [==============================] - 12s 453us/sample - loss: 0.5366 - accuracy: 0.7379 - val_loss: 0.7150 - val_accuracy: 0.5324
Epoch 46/100
25724/25724 [==============================] - 8s 301us/sample - loss: 0.5383 - accuracy: 0.7382
Epoch 47/100
25724/25724 [==============================] - 8s 305us/sample - loss: 0.5422 - accuracy: 0.7381
Epoch 48/100
25724/25724 [==============================] - 9s 349us/sample - loss: 0.5422 - accuracy: 0.7372
Epoch 49/100
25724/25724 [==============================] - 8s 327us/sample - loss: 0.5418 - accuracy: 0.7390
Epoch 50/100
25724/25724 [==============================] - 10s 371us/sample - loss: 0.5441 - accuracy: 0.7379 - val_loss: 0.6988 - val_accuracy: 0.5324
Epoch 51/100
25724/25724 [==============================] - 9s 353us/sample - loss: 0.5441 - accuracy: 0.7383
Epoch 52/100
25724/25724 [==============================] - 8s 309us/sample - loss: 0.5436 - accuracy: 0.7376
Epoch 53/100
25724/25724 [==============================] - 7s 287us/sample - loss: 0.5409 - accuracy: 0.7396
Epoch 54/100
25724/25724 [==============================] - 8s 326us/sample - loss: 0.5427 - accuracy: 0.7385
Epoch 55/100
25724/25724 [==============================] - 9s 334us/sample - loss: 0.5402 - accuracy: 0.7382 - val_loss: 0.7762 - val_accuracy: 0.5324
Epoch 56/100
25724/25724 [==============================] - 8s 322us/sample - loss: 0.5410 - accuracy: 0.7384
Epoch 57/100
25724/25724 [==============================] - 9s 344us/sample - loss: 0.5427 - accuracy: 0.7393
Epoch 58/100
25724/25724 [==============================] - 8s 308us/sample - loss: 0.5539 - accuracy: 0.7378
Epoch 59/100
25724/25724 [==============================] - 9s 349us/sample - loss: 0.5510 - accuracy: 0.7401
Epoch 60/100
25724/25724 [==============================] - 13s 519us/sample - loss: 0.5495 - accuracy: 0.7400 - val_loss: 0.6923 - val_accuracy: 0.5324
Epoch 61/100
25724/25724 [==============================] - 8s 317us/sample - loss: 0.5504 - accuracy: 0.7388
Epoch 62/100
25724/25724 [==============================] - 10s 372us/sample - loss: 0.5579 - accuracy: 0.7402
Epoch 63/100
25724/25724 [==============================] - 10s 386us/sample - loss: 0.5583 - accuracy: 0.7388
Epoch 64/100
25724/25724 [==============================] - 8s 318us/sample - loss: 0.5603 - accuracy: 0.7399
Epoch 65/100
 5536/25724 [=====>........................] - ETA: 5s - loss: 0.5534 - accuracy: 0.7390

In [39]:
# Evaluate the model using the test data 
model_loss, model_accuracy = nn.evaluate(np.array(X_test), np.array(y_test), verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 1s - loss: 26302.5959 - accuracy: 0.5324
Loss: 51597.798535227426, Accuracy: 0.5323615074157715

In [40]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")